name: Build and Push Docker Images to ECR

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push web app image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/clo835-web-repo:latest
            ${{ steps.login-ecr.outputs.registry }}/clo835-web-repo:${{ github.sha }}

      - name: Build and push mysql image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile_mysql
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/clo835-mysql-repo:latest
            ${{ steps.login-ecr.outputs.registry }}/clo835-mysql-repo:${{ github.sha }}